<div layout="row" flex style="min-height: 100vh;" >
    <div layout="column" flex style="min-height: 10vh">
        <mat-toolbar style="min-height: 10vh; margin-bottom: 0; background-color: #f44336" >
            <mat-toolbar-row>
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
                  <mat-icon aria-label="Side nav toggle icon" style="color:white;">menu</mat-icon>
                </button>
                
                
      

                <button style="color:white; " mat-button [matMenuTriggerFor]="archivoMenu">Archivo</button>
                <mat-menu #archivoMenu="matMenu" xPosition="after">

                    <div class="form-group" style="display: none;">
                        <input #fileinput  style="margin: 8px;" type="file" (change)="fileProgress($event)" />
                    </div>  

                  <button mat-menu-item (click)="fileinput.click()"> Abrir...</button>
                  <button mat-menu-item [matMenuTriggerFor]="guardarMenu">Guardar</button>
                  <button mat-menu-item>Compilar</button>
                </mat-menu>

                <mat-menu #guardarMenu="matMenu" xPosition="after">
                  <button mat-menu-item (click)="generar($event)">Generar Codigo</button>
                  <button mat-menu-item (click)="generarDiagrama()" >Guardar Diagrama</button>
                  <button mat-menu-item (click)= "generarImagen()">Exportar en PNG</button>
                </mat-menu>


                <button style="color:white; " mat-button [matMenuTriggerFor]="confMenu">Configuración</button>
                <mat-menu #confMenu="matMenu" xPosition="after">
                  <button mat-menu-item (click)= "paramsConfig()"> Parámetros de Compilación</button>
                </mat-menu>


                <button style="color:white; " mat-button [matMenuTriggerFor]="aboutMenu">Acerca De</button>
                <mat-menu #aboutMenu="matMenu" xPosition="after">
                  <button mat-menu-item>Notas de Versión</button>
                  <button mat-menu-item>Ayuda</button>
                </mat-menu>
                
                
              </mat-toolbar-row>
        </mat-toolbar>
    </div>

    <div layout="column" flex style="min-height: 90vh; background-color: red">
        <mat-sidenav-container style="min-height: 90vh;">
            <mat-sidenav #drawer mode="side" opened role="navigation">
                <mat-card style="margin: 8px; height:81vh">
                    <mat-tab-group md-stretch-tabs mat-align-tabs="center" dynamicHeight >
                        <mat-tab label="Procesos" >
                            <ng-template matTabContent>
                            <app-palette-variables></app-palette-variables>  
                          </ng-template> 
                        </mat-tab>
                
                        <mat-tab label="Flujo/Bucles" >
                            <ng-template matTabContent>
                            <app-palette-bucles></app-palette-bucles>
                          </ng-template>
                        </mat-tab>
                        <mat-tab label="Func." >
                            <ng-template matTabContent>
                            <app-palette-funciones></app-palette-funciones>
                          </ng-template>
                        </mat-tab>
                     
                        <mat-tab label="I/O" >
                            <ng-template matTabContent>
                            <app-palette-archivos></app-palette-archivos>                                        
                          </ng-template>
                        </mat-tab>
                      </mat-tab-group>
                </mat-card>

        
                                            
                                    
                                   
                                
                            
                    
              
              
            </mat-sidenav>
            <mat-sidenav-content style="margin-top: 0px">
                <div id="ideCanvas" style="min-height: 75vh; width: 99%;"> </div>
                
                
                
               
            </mat-sidenav-content>
          </mat-sidenav-container>
    </div>
  </div>
