<div layout="row" flex style="min-height: 100vh;" >
    <div layout="column" flex style="min-height: 10vh">
        <mat-toolbar style="min-height: 10vh; margin-bottom: 0; background-color: #f44336" >
            <mat-toolbar-row>
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
                  <mat-icon aria-label="Side nav toggle icon" style="color:white;">menu</mat-icon>
                </button>
                <h2 style="color: white">Visual Cpitón</h2>
              </mat-toolbar-row>
        </mat-toolbar>
    </div>

    <div layout="column" flex style="min-height: 90vh; background-color: red">
        <mat-sidenav-container style="min-height: 90vh;">
            <mat-sidenav #drawer mode="side" opened role="navigation">
                    
                <mat-accordion>
                <mat-expansion-panel style= "margin : 8px;">
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                Abrir
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="form-group" style="margin: 8px;">
                                    <input style="margin: 8px;" type="file" (change)="fileProgress($event)" />
                                    <button mat-button style="margin: 8px; background-color: #ba000d; color: white; margin-left: 8px; margin-top: 16px;" class="btn btn-primary"  (click)="onSubmit()">Cargar</button>
                                </div>            
                          </mat-expansion-panel>

                          <mat-expansion-panel style="margin: 8px;">
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    Guardar
                                  </mat-panel-title>
                                  
                                </mat-expansion-panel-header>
                                <div class="form-group" style="margin: 8px;">
                                        <button mat-button style= "background-color: #ba000d; color: white; margin-left: 8px; margin-top: 16px;"(click)= "generar($event)">Descargar Código</button>
                                        <button mat-button style= "background-color: #ba000d; color: white; margin-left: 8px; margin-top: 16px;"(click)= "openDialog2()">Descargar Diagrama</button>
                                    </div>            
                              </mat-expansion-panel>

                              <mat-expansion-panel style="margin: 8px;">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        Paleta
                                      </mat-panel-title>
                                      
                                    </mat-expansion-panel-header>
                                    <div style="height: 340px; margin-left: 0px;"id="paletteCanvas"> </div>
                                               
                                  </mat-expansion-panel>

                              <mat-expansion-panel style="margin: 8px;">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        Configuración
                                      </mat-panel-title>
                                
                                    </mat-expansion-panel-header>

                                    <form #configForm = "ngForm" (submit)="onFormSubmit()">  
                                    <mat-form-field appearance="outline">
                                      <mat-label>Tamano máximo buffer de líneas</mat-label>                                  
                                      <input matInput placeholder="1000" [formControl]="MAXLINEA" type="number" required>
                                      <mat-error *ngIf="MAXLINEA.invalid">{{getErrorMessage()}}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                      <mat-label>Máximo número dígitos en los enteros</mat-label>                                  
                                      <input matInput placeholder="5" [formControl]="MAXDIGIT" type="number" required>
                                      <mat-error *ngIf="MAXDIGIT.invalid">{{getErrorMessage2()}}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                      <mat-label>Máxima longitud identificadores</mat-label>                                  
                                      <input matInput placeholder="10" [formControl]="MAXID" type="number" required>
                                      <mat-error *ngIf="MAXID.invalid">{{getErrorMessage3()}}</mat-error>
                                    </mat-form-field>
                                    <button type="submit" mat-button style= "background-color: #ba000d; color: white; margin-left: 8px; margin-top: 16px;">Aplicar</button>
                                    </form>         
                                  </mat-expansion-panel>

                                  <mat-expansion-panel style="margin: 8px;">
                                        <mat-expansion-panel-header>
                                          <mat-panel-title>
                                            Acerca de
                                          </mat-panel-title>
                                    
                                        </mat-expansion-panel-header>
                                        <mat-panel-description>
                                            Visual Cpitón version 1.1.2
                                            Desarrollado por MDPU Studio
                                            Para Teoría de Lenguajes de Programación
                                        </mat-panel-description>
                                        <button mat-button style= "background-color: #ba000d; color: white; margin-left: 8px; margin-top: 16px;" (click)= "verAyuda()  ">Ayuda</button>
                                                   
                                      </mat-expansion-panel>

                                </mat-accordion>
                                            
                                    
                                   
                                
                            
                    
              
              
            </mat-sidenav>
            <mat-sidenav-content style="margin-top: 0px">
                <div id="ideCanvas" style="min-height: 75vh; width: 99%;"> </div>
                
                
                
               
            </mat-sidenav-content>
          </mat-sidenav-container>
    </div>
  </div>
