<div layout="row" flex style="min-height: 100vh;">
    <div layout="column" flex style="min-height: 10vh">
        <mat-toolbar  color="warm" style="min-height: 10vh; margin-bottom: 0; background-color: #f44336" >
            <mat-toolbar-row>
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
                  <mat-icon aria-label="Side nav toggle icon" style="color:white;">menu</mat-icon>
                </button>
                <h2 style="color: white">IDE Cpitón</h2>
              </mat-toolbar-row>
        </mat-toolbar>
    </div>

    <div layout="column" flex style="min-height: 90vh; background-color: red">
        <mat-sidenav-container style="min-height: 90vh;">
            <mat-sidenav #drawer mode="side" opened role="navigation">    
              <h4 style="text-align: center; margin-top: 16px">Paleta de Componentes</h4>
              <hr>
              <div id="paletteCanvas"> </div>
            </mat-sidenav>
            <mat-sidenav-content style="margin-top: 0px">
                <div id="ideCanvas" style="min-height: 75vh; width: 99%;"> </div>
            </mat-sidenav-content>
          </mat-sidenav-container>
    </div>
  </div>