<h1 mat-dialog-title> Seleccionar tipo de dato: </h1>
<div mat-dialog-content>
  
    <mat-form-field>
      <mat-label>Tipo de Dato</mat-label>
      <mat-select [(value)]="selected">
    <mat-option>None</mat-option>

        <mat-option *ngFor="let  tipo of tipos" value={{tipo}}>
          {{tipo}}
        </mat-option>
      
  </mat-select>
    </mat-form-field>
  

</div>
<div mat-dialog-actions>
    <button mat-button  [mat-dialog-close]="selected" cdkFocusInitial>Guardar</button>
    <button mat-button  (click)= "onNoClick()" cdkFocusInitial>Cancelar</button>
</div>