{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Teoangular</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'IDE/hola.css' %}">
</head>
<body>
  <app-root></app-root>

<script src="{% static 'IDE/polyfills-es5.7aaacbf76784c780632a.js' %}" nomodule defer></script>
<script src="{% static 'IDE/polyfills-es2015.0fe6949bc5ff4b784062.js' %}" type="module"></script>
<script src="{% static 'IDE/scripts.6cf4da7113bcd1218d80.js' %}" defer></script>
<script src="{% static 'IDE/runtime-es2015.85f895af57b038f1e5b4.js' %}" type="module"></script>
<script src="{% static 'IDE/main-es2015.66a7939c98943cfd90d6.js' %}" type="module"></script>
<script src="{% static 'IDE/runtime-es5.85f895af57b038f1e5b4.js' %}" nomodule defer></script>
<script src="{% static 'IDE/main-es5.66a7939c98943cfd90d6.js' %}" nomodule defer></script>
</body>
</html>
